# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'Ubuntu-latest'

steps:
- checkout: self
  persistCredentials: true
  clean: true

- task: NodeTool@0
  inputs:
    versionSpec: '12.x'
  displayName: 'Install Node.js'

- script: npm install -g eslint
  displayName: 'Install ESLint'

- script: eslint logo
  displayName: 'Run ESLint'

- script: node tools/mkut.js unittests > generated/unittests.js
  displayName: 'Pack unit tests'

- script: cd logo; node logo test; cd ..
  displayName: 'Run unit tests'
